
<!DOCTYPE html>
<html lang="en" >
<!-- begin::Head -->
<head>
        <meta charset="UTF-8">
        <title>{% block title %}Voltaj Academy{% endblock %}</title>
        {% block css %}{% endblock %}
</head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
